body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: url("https://cdn-images-1.medium.com/max/1200/1*kFaSuc5rVdJ_fM2c_bHszQ.png") fixed;
    background-size: 2000px;
}

.Back_In_Black {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: 5;
}

.transform {
    position: fixed;
    top: 200px;
    width: 100%;
    min-width: 1300px;
    height: 600px;
    z-index: -1;
    background: rgb(245, 194, 0);
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    transform: skewY(-5deg);
}

.Page {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.L_Page {
    position: absolute;
    width: 1200px;
    margin-left: 15%;
    margin-right: 15%;
    top: 0;
    bottom: 0;
}

.M_Page {
    position: absolute;
    width: 800px;
    top: 0;
    bottom: 0;
    left: 18%;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.navigate {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    top: 75px;
    left: 40px;
    width: 170px;
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    background: white;
    border-radius: 3px;
    z-index: 1;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.navigate_button {
    cursor: pointer;
    width: 100%;
    padding: 5px;
    text-align: left;
    text-align-last: left;
}

.navigate_button:hover {
    color: black;
    background: #ffcc00;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.Small_Avatar>img,
.Avatar>img {
    border-radius: 3px;
    transition: .5s;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.Avatar {
    display: flex;
    width: 200px;
    min-height: 100px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.Avatar>img {
    max-height: 290px;
    max-width: 190px;
}

.Small_Avatar {
    height: 70px;
    width: 70px;
    border-radius: 3px;
    overflow: hidden;
    transition: .5s;
}

.Small_Avatar>img{
    max-height: 100px;
    max-width: 100px;
}

.Small_Avatar:hover,
.Avatar>img:hover {
    border-radius: 10px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.Ps_Message,
.Message {
    position: absolute;
    overflow: hidden;
    top: 15px;
    bottom: 15px;
    width: 100%;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.Ps_Message {
    padding: 0;
}

.Msg_User {
    cursor: pointer;
    padding: 5px 5px 0 5px;
    height: 75px;
    overflow: hidden;
    border-bottom: 1px solid #e4e4e4;
}

.Msg_User:hover {
    background: #e4e4e4;
}

.Msg_User_Info {
    position: relative;
    display: inline-block;
    top: -53px;
    height: 70px;
    width: 90.5%;
}

.User_Name {
    display: inline-block;
    font-size: 18px;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.Left_Bar,
.Right_Bar {
    display: inline-block;
    position: absolute;
    top: 15px;
}

.Right_Bar {
    position: absolute;
    left: 222px;
    width: 700px;
}

.Pr_Left_Page,
.Pr_Right_Page {
    display: inline-block;
    position: relative;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.Pr_Left_Page {
    width: 200px;
    padding: 8px;
}

.Pr_Right_Page {
    width: 100%;
    min-height: 170px;
    padding: 5px;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.MessageCreate,
.PostCreate {
    overflow: hidden;
    background: white;
    width: 690px;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
}

.PostCreate {
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.MessageCreate {
    background: #f5f5f5;
    position: absolute;
    border-top: 1px solid #e4e4e4;
    bottom: 0;
    width: 100%;
    border-radius: 0;
    margin: 0;
}

.Message_Box {
    margin: 5px;
    overflow: scroll;
    height: 89.7%;
    border: 1px solid #e4e4e4;
}

#content, #title {
    width: 96%;
    margin: 5px 2% 5px 2%;
}

#content {
    width: 95.3%;
    min-height: 45px;
    transition: .5s;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.Post {
    background: white;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    width: 690px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.PostTitle {
    font-size: 20px;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    position: relative;
    border-bottom: 2px solid #e4e4e4;
    margin-bottom: 5px;
}

.PostDelete {
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 0;
    height: 21px;
    width: 21px;
    margin-top: -20px;
    background: #e4e4e4;
    border-radius: 3px;
    transition: .5s;
    align-items: center;
    justify-content: center;
}

.PostDelete:hover {
    background-color: #ff5359;
    color: white;
    height: 21px;
    width: 21px;
    transform: scale(0.95);
}

.PostAuthor {
    color: #00005b;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

.PostAuthorContent:hover {
    color: blue;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.LogRegError {
    position: relative;
    left: 0;
    background: none;
    padding: 0;
    margin-right: 5%;
    margin-left: 5%;
}

input {
    width: 90%;
    border: none;
    margin-left: 5%;
    margin-right: 5%;

}

input[type="text"],
input[type="password"] {
    border-bottom: 2px solid red;
}

.Title {
    font-size: 25px;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    border-bottom: 2px solid gray;
}

.Sign {
    display: inline-block;
    position: relative;
    top: 300px;
    width: 170px;
    background: white;
    padding: 15px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.Error {
    width: 90%;
    border: none;
    margin-left: 5%;
    margin-right: 5%;
}

.Input {
    margin-bottom: 12px;
}



.lPage,
.PostContent,
.Left_Bar,
.Right_Bar,
.M_Page,
.Pr_Left_Page,
.Pr_Right_Page,
.r_page,
.User_ID,
.ProfileContent,
.PostCreate,
.Small_Avatar {
    display: inline-block;
}

.UploadButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.User_Link {
    cursor: pointer;
}

.User_Link:hover {
    color: #3f487d;
}

.Upload_Avatar {
    position: fixed;
    padding: 10px;
    top: 40%;
    left: 40%;
    width: 250px;
    background: white;
    z-index: 10;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.Back_In_Black,
.Upload_Avatar {
    display: none;
}

.User_ID {
    font-size: 30px;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    position: relative;
    width: 100%;
    border-bottom: 2px solid gray;
}

.back_button,
.button {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    border: None;
    margin-top: 5px;
    transition: .5s;
    color: black;
    background: #ffcc00;
    border-radius: 5px;
}

.back_button {
    background: #e1e1e1;
}

.back_button:hover,
.button:hover {
    transform: scale(0.95);
}
