<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

        <title>{{ title }}</title>
    </head>

    <body>
        <div class="transform"></div>
        <div class="Back_In_Black"></div>
        <div class="Page">
            <div class="L_Page">
                {% if session['user_status'] %}

                    <div class="navigate">

                        <div class="navigate_button"
                             onclick="javascript:document.location.href='/profile/{{ session['id'] }}'">
                            Моя Страница
                        </div>

                        <div class="navigate_button"
                             onclick="javascript:document.location.href='/news'">
                            Новости
                        </div>

                        <div class="navigate_button"
                             onclick="javascript:document.location.href='/messages/'">
                            Сообщения
                        </div>

                        <div class="navigate_button"
                             onclick="javascript:document.location.href='/users/'">
                            Люди
                        </div>

                        <div class="navigate_button"
                             onclick="javascript:document.location.href='/gallery/'">
                            Фотографии
                        </div>

                        <div class="navigate_button"
                             onclick="javascript:document.location.href='/logout'">
                            Выход
                        </div>
                    </div>

                {% endif %}

                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>