{% extends "base.html" %}

{% block content %}
    <div class="M_Page">
        <div class="Ps_Message">
            <div class="Message_Box">
                    {% for message in messages %}
                        <div>
                           {{ message }}
                        </div>
                    {% endfor %}
            </div>

            <div class="MessageCreate">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    {{ form.content(placeholder='Напишите сообщение…')}}
                    {% for error in form.content.errors %}
                        <script type='text/javascript'>
                            document.write('<div class="Error"></div>');
                        </script>
                    {% endfor %}

                    {{ form.submit(class="button") }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}