{% extends "base.html" %}

{% block content %}
    <div class="M_Page">
        <div class="Left_Bar">
            <div class="Pr_Left_Page">
                <div class="Avatar">
                    {% if userpic %}
                        <img src="{{ url_for('static', filename='' + userpic) }}" alt="Image Not Found">

                    {% else %}
                        <img src="../static/img/404.png">

			        {% endif %}
                </div>

                {% if lock %}
                    <input class="button" type="button" value="Обновить фото" onclick="open_upload()">
                    <script>
                        function open_upload() {
                            var block = document.querySelector(".Upload_Avatar");
                            var background = document.querySelector(".Back_In_Black");
                            block.style.display = 'inline-block';
                            background.style.display = 'inline-block';
                        }
                    </script>

                {% else %}
                    <input class="button" type="button" value="Написать сообщение"
                           onclick="javascript:document.location.href='/messages/{{ user }}'">

                    {% if suon %}
                        <input class="button" type="button" value="Подписаться"
                               onclick="javascript:document.location.href='/subscribe/{{ user }}'">

                    {% else %}
                        <input class="back_button" type="button" value="Отписаться"
                               onclick="javascript:document.location.href='/unsubscribe/{{ user }}'">

                    {% endif %}
                {% endif %}

            </div>
        </div>

        <div class="Upload_Avatar">
            <form action="" method="post" enctype=multipart/form-data>
            {{ form2.hidden_tag() }}
                <div class="Title">Обновить фото</div>
                    {{ form2.image }}
                    {% for error in form.2 %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}

                {{ form2.submit(class="button") }}

                <input class="back_button" type="button" value="Назад" onclick="close_upload()">
                <script>
                    function close_upload() {
                        var block = document.querySelector(".Upload_Avatar");
                        var background = document.querySelector(".Back_In_Black");
                        block.style.display = 'none';
                        background.style.display = 'none';
                    }
                </script>

             </form>
        </div>


        <div class="Right_Bar">
            <div class="Pr_Right_Page">
                <div class="User_ID">{{ Name }} {{ Surname }}</div>
            </div>


            {% if lock %}
                <div class="PostCreate">
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}

                        {{ form.title(placeholder='Заголовок новости') }}
                        {% for error in form.title.errors %}
                            <script type='text/javascript'>
                                document.write('<div class="Error">Введите заголовок новости!</div>');
                            </script>
                        {% endfor %}

                        {{ form.content(placeholder='Текст новости',
                            onclick="document.getElementById('content').style.height = '150px';") }}
                        {% for error in form.content.errors %}
                            <script type='text/javascript'>
                                document.write('<div class="Error">Введите текст новости!</div>');
                            </script>
                        {% endfor %}

                        {{ form.submit(class="button") }}
                    </form>
                </div>
            {% endif %}

            <div class="ProfileContent">
                {% for item in news %}
                    <div class="Post">
                        <div class="PostTitle">{{ item[1] }}</div>

                        <div class="PostContent">
                            {{ item[2] }}
                        </div>

                        {% if lock %}
                            <div class="PostDelete" onclick="javascript:document.location.href='/delete_news/{{ item[0] }}'">
                                ✖
                            </div>
                        {% endif %}

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}