{% extends "base.html" %}

{% block content %}
    <div class="ProfilePage">
        <div class="ProfileInfo">
                <div class="Avatar">
				 {% if userpic %}
				  <img src="http://127.0.0.1:8080{{url_for('static',filename=''+userpic)}}" alt="text">
				 {% else %}
                    <img src="../static/img/404.png">
			     {% endif %}
                </div>
				 <form action="" method="post" enctype=multipart/form-data>
                    {{ form2.hidden_tag() }}
				   <p>Обновить фото<br>
							{{ form2.image }}<br>
							{% for error in form2.image.errors %}
								<div class="alert alert-danger" role="alert">
									{{ error }}
								</div>
							{% endfor %}
						</p>
						
				<p>{{ form2.submit() }}</p>
                </form>

                <div class="User_ID">{{ Name }} {{ Surname }}</div>
        </div>

        {% if lock %}
            <div class="PostCreate">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}

                    {{ form.title(placeholder='Заголовок новости') }}
                    {% for error in form.title.errors %}
                        <script type='text/javascript'>
                            document.write('<div class="Error">Введите заголовок новости!</div>');
                        </script>
                    {% endfor %}

                    {{ form.content(placeholder='Текст новости',
                        onclick="document.getElementById('content').style.height = '150px';") }}
                    {% for error in form.content.errors %}
                        <script type='text/javascript'>
                            document.write('<div class="Error">Введите текст новости!</div>');
                        </script>
                    {% endfor %}

                    {{ form.submit(id="button") }}
                </form>
            </div>
        {% endif %}

        <div class="ProfileContent">
            {% for item in news %}
                <div class="Post">
                    <div class="PostTitle">{{ item[1] }}</div>

                    <div class="PostContent">
                        {{ item[2] }}
                    </div>

                    {% if lock %}
                        <div class="PostDelete" onclick="javascript:document.location.href='/delete_news/{{ item[0] }}'">
                            ✖
                        </div>
                    {% endif %}

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}