{% extends "base.html" %}

{% block content %}
    <div class="profile_page">

        <div class="l_page">
        </div>

        <div class="r_page">
            <div class="avatar">
                <img src="../static/img/404.png">
            </div>
            <div class="User_ID">
                <h2>{{ Name }} {{ Surname }}</h2>
            </div>
        </div>
        <div class="add_post">
            <a href="/add_news">Добавить новость</a>
        </div>
        {% for item in news %}
            <div class="post">
                <div class="post_name">{{ item[1] }}</div>

                <div class="post_content">
                    {{ item[2] }}
                </div>

                <div class="delete_post">
                    <a href="/delete_news/{{ item[0] }}">Удалить новость</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}