{% extends "base.html" %}

{% block content %}
    <div class="Sign">
        <div class="SignUp">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}

                <div class="Title">Регистрация</div>

                <div class="Input">
                    {{ form.username(placeholder='Имя') }}<br>
                    {% for error in form.username.errors %}
                        <script type='text/javascript'>
                            document.write('<div class="Error">Введите имя!</div>');
                        </script>
                    {% endfor %}
                </div>

                <div class="Input">
                    {{ form.surname(placeholder='Фамилия') }}<br>
                    {% for error in form.surname.errors %}
                        <script type='text/javascript'>
                            document.write('<div class="Error">Введите фамилию!</div>');
                        </script>
                    {% endfor %}
                </div>

                <div class="Input">
                    {{ form.email(placeholder='Почта') }}<br>
                    {% for error in form.email.errors %}
                        <script type='text/javascript'>
                            document.write('<div class="Error">Введите почту!</div>');
                        </script>
                    {% endfor %}
                </div>

                <div class="Input">
                    {{ form.password(placeholder='Пароль') }}<br>
                    {% for error in form.password.errors %}
                        <script type='text/javascript'>
                            document.write('<div class="Error">Введите пароль!</div>');
                        </script>
                    {% endfor %}
                </div>

                <div class="Input">
                    {{ form.password_test(placeholder='Повторите пароль') }}<br>
                    {% for error in form.password_test.errors %}
                        <script type='text/javascript'>
                            document.write('<div class="Error">Пароли разные!</div>');
                        </script>
                    {% endfor %}
                </div>

                <div class="buttons">{{ form.reg(class='button') }} {{ form.back(class='back_button') }}</div>
            </form>
        </div>
    </div>
{% endblock %}