{% extends "base.html" %}

{% block content %} 
	<div class="M_Page">
		{% for item in users %}
			<div class="User_Info">
					<div class="Small_Avatar">
						{% if image_model.exists(item[0][0]) %}
							<img src="{{ url_for('static', filename=''+image_model.exists(item[0][0])) }}" alt="../static/img/404.png">
						{% else %}
							<img src="../static/img/404.png">
						{% endif %}
					</div>

					<div class="User_Name">{{ item[0][1] }} {{ item[0][2] }}</div>
					<div class="PostContent">
						sdfs
					</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}