{% extends "base.html" %}

{% block content %} 
	<div class="M_Page">
		{% for item in users %}
			{% if item[0][0] != session['id'] %}
				<div class="User_Info">
						<div class="Small_Avatar">
							{% if image_model.exists(item[0][0]) %}
								<img src="{{ url_for('static', filename=''+image_model.exists(item[0][0])) }}" alt="../static/img/404.png">
							{% else %}
								<img src="../static/img/404.png">
							{% endif %}
						</div>

					<div class="User_Name">
						<div class="User_Link" onclick="javascript:document.location.href='/profile/{{ item[0][0] }}'">
							{{ item[0][1] }} {{ item[0][2] }}
						</div>
					</div>
						<div class="PostContent">
						</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}