{% extends "base.html" %}

{% block content %} 
	<div class="ProfilePage">
		{% for item in users %}
			<div class="Post">
				<div class="PostTitle">{{ item[0][1] }}</div>

				<div class="PostContent">
					{{ item[0][2] }}
				</div>
			{% if item[1] %}
			  <div class="unsubsribe">
							<a href="/unsubsribe/{{ item[0][0] }}">Unubcribe</a>
						</div>
			{% else %}

					<div class="subsribe">
							<a href="/subsribe/{{ item[0][0] }}">Subcribe</a>
						</div>
			{% endif %}


			</div>
		{% endfor %}
	</div>
{% endblock %}